!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
      %title Convert QIF files to CSV
      %link{:href => "/css/master.css", :media => "screen", :rel => "stylesheet", :title => "no title", :type => "text/css"}
  %body
    %script{:src => "/js/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery.dnduploader.js", :type => "text/javascript"}
    = yield
